.main {
  overflow-x: hidden;
}

h1 {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  text-align: center;
}

label {
  width: 100%;
  font-size: 17px;
  padding: 9px 9px 9px 0;
  text-align: left;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.saveButton {
  margin: auto;
  display: flex;
  background-color: rgb(94, 180, 148);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 3px;
}

.saveButton:hover {
  background-color: rgb(72, 157, 126);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #948f8f;
}

li {
  float: right;
}

li button {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

li button:hover {
  background-color: #817d7d;
}

#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #948f8f;
  color: white;
}

.table-div {
  overflow-x: auto;
  margin-left: 60px;
  margin-right: 60px;
}

.deleteButton {
  background-color: rgb(201, 131, 125);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 3px;
}

.deleteButton:hover {
  background-color: rgb(202, 113, 105);
}